$theme-color = rgb(242, 193, 70);
$theme-sub-color = #eee;
$brand-color = #FFFFFF;
$body-bg-color = #FEFAF1;
$post-title-color = $theme-color;
$post-title-bg-color = #faf4ed;
$emphasize-color = #fc6423;