$theme-color = rgb(242, 193, 70);
$theme-sub-color = #eee;
$brand-color = #FFFFFF;
$body-bg-color = #FEFAF1;
$post-title-color = $theme-color;
$post-title-bg-color = #F5F2E4;
$emphasize-color = #fc6423;